body{
    font-family: Arial, sans-serif;
    /* background-image: url("logo.png"); 
    background-size: cover;*/
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: lightblue;
    color: black;
}

.header a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-weight: bold;
}

.header a:hover{
    color: blue;
}

.menu-btn{
    font-size: 26px;
    cursor: pointer;
} 

#menu-toggle{
    display: none;
}

#menu-toggle:checked ~ .sidenav{
    width: 250px;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
}

.sidenav a{
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 18px;
}

.sidenav a:hover{
    background-color: #575757;
}

.login{
    text-align: center;
    margin: 20px;
    font: bold 16px Arial, sans-serif;
}

.login input{
    padding: 8px;
    margin: 5px;
}

button{
    background-color: #007bff;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.side{
    display: flex;
    justify-content:center;
    /* gap: 80px;
    margin: 20px 0; */
    gap: 30px;
    margin: 20px;
    flex-wrap: wrap;
}

.details,
.card,
.attendance,
.notice{
    width: 320px;
    padding: 15px;
    border-radius: 15px;
}

.details{ background-color: yellow; }
.card{ background-color: lightgreen; }
.attendance{ background-color: lightblue; }
.notice{ background-color: pink; }

.image{
    align-items: center;
    justify-content: center;
    margin-left: 500px;
}
.audio{
    align-items: center;
    justify-content: center;
    margin-left: 500px;
}
.video{
    align-items: center;
    justify-content: center;
    margin-left: 500px;
}

.cells{
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px auto;
    background-color: aquamarine;
}

.cells th,
.cells td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}



.closebtn{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

form{
    width: 60%;
    margin: 30px auto;
    background-color: grey;
    padding: 20px;
    border-radius: 15px;
}

